body {
    overflow-x: hidden;
	margin: 0;
	padding: 0;
}

#wrap {
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	overflow: hidden;
}

#wrap-menu {
	position: absolute;
	top:0;
	left:0;
	right:0;
	height:50px;
}

#wrap-content {
	position: absolute;
	top:50px;
	left:0;
	right:0;
	bottom:0;
	overflow-y: scroll;
	background-color: white;
}

.gen-icon {
	margin: 0 8px;
	width: 48px;
	height: 48px;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center center;
}

.fb-icon {
	background-image: url(../images/fb.png);
}

.tw-icon {
	background-image: url(../images/tw.png);
}

.yt-icon {
	background-image: url(../images/yt.png);
}